# Build files
*.exe
*.pdb
*.obj
*.idb
*.suo
*.user
*.log
*.aps
*.ncb
*.sdf
*.opensdf

# Visual Studio folders
.vs/
.vscode/
Debug/
Release/
x64/
ipch/

# NuGet packages
packages/

# MSBuild and NuGet
*.nuget.props
*.nuget.targets
project.lock.json
project.assets.json
*.csproj.user
*.vcxproj.user

# Other temp files
*.tlog/
*.lastbuildstate
*.cache
*.db
*.bak
*.tmp
*.~*

# Thumbs.db and desktop.ini (Windows-specific)
Thumbs.db
desktop.ini
